{{!< layout/default}}
{{#extend "css"}}
    <!-- MIS ARCHIVOS CSS  -->
    <style type="text/css">
    .title-red {
        color: red;
    }
    </style>
{{/extend}}
{{> navbar}}
<h1 class="title-red">Usuarios</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>USUARIO</th>
			<th>PASSWORD</th>
		</tr>
	</thead>
	<tbody id="body-table">
	</tbody>
</table>

{{#extend "js"}}
    <script type="text/javascript">
    $(document).ready(function() {
    	console.log('Fuera del ajax arriba'); 
        $.ajax({
                url: '/api/users',
                type: 'GET',
                dataType: 'json'
            })
            .done(function(users) {
            	console.log('Dentro del ajax'); 
                if(users) {
                	for (var i = 0; i < users.length; i++) {
                		var usersObj = users[i];
                		var html = '';
                		html += '<tr>';
                		html += '<td>' + usersObj.id + '</td>';
                		html += '<td>' + usersObj.username + '</td>';
                		html += '<td>' + usersObj.password + '</td>';
                		html += '</tr>';
                	}
                	$('#body-table').html(html);
                }
            })
            .fail(function(err) {
                console.log(err);
            });
            console.log('Fuera del ajax Abajo'); 
    });
    </script>
{{/extend}}