{{!< layout/default}}
{{#extend "css"}}
    <!-- MIS ARCHIVOS CSS  -->
    <style type="text/css">
    .title-red {
        color: red;
    }
    </style>
{{/extend}}
{{> navbar}}
<h1 class="title-red">Usuarios</h1>
<i id="borrar" class="borrar" style="color: #FC57FB; cursor: pointer;" class="fa fa-ban fa-2x" aria-hidden="true"></i>
<i id="borrar" class="borrar" style="color: #FC57FB; cursor: pointer;" class="fa fa-ban fa-2x" aria-hidden="true"></i>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>USUARIO</th>
			<th>PASSWORD</th>
			<th>ELIMINAR</th>
			<th>EDITAR</th>
		</tr>
	</thead>
	<tbody id="body-table">
	</tbody>
</table>
<a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Crear Usuario</a>
<div class="modal fade" id="modal-id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Formulario de usuarios</h4>
			</div>
			<div class="modal-body">
				<input type="text" id="username" class="form-control" placeholder="Ingrese Usuario">
				<input type="password" id="password" class="form-control" placeholder="Ingrese Contraseña">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button id="saveButton" data-update="false" data-iduser="" data-pedro="alumno" type="button" class="btn btn-success">Guardar</button>
			</div>
		</div>
	</div>
</div>

{{#extend "js"}}
    <script type="text/javascript" src="/public/app/users/main.js"></script>
{{/extend}}