<!DOCTYPE html>
<html lang="es">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <title>..:: TALLER ::..</title>
    <!-- Default Page CSS -->
  
    {{#block "css"}}
    {{/block}}
</head>

<body>
    {{{content}}}

    <script type="text/javascript">
        console.log("Esto es un ejemplo");
    </script>
    {{#block "js"}}
    {{/block}}
</body>

</html>
