<!DOCTYPE html>
<html lang="es">

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <title>..:: TALLER ::..</title>
    <!-- Default Page CSS -->
    <link rel="stylesheet" type="text/css" href="/public/tools/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/tools/font-awesome/css/font-awesome.min.css">
    <!-- / Default Page CSS -->
    {{#block "css"}}
    {{/block}}
</head>

<body>
    {{{content}}}
    <script type="text/javascript" src="/public/tools/jquery.js"></script>
    <script type="text/javascript" src="/public/tools/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    console.log("Console.log en DEFAULT");
    </script>
    {{#block "js"}}
    {{/block}}
</body>

</html>